<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--logo-->
    <link rel="icon" type="image/x-icon" href="~/img/logo.png">
    <title>I&V | @ViewData["Title"]</title>

    <!--Css y Tailwind-->
    <link rel="stylesheet" href="~/css/output.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/be9e926d45.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Escritorio-->
    <aside id="sidebar" class="fixed z-20 h-full top-0 left-0 lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75 hidden" aria-label="Sidebar">
        <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white pt-0">
            <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                <nav class="flex-1 px-3 bg-white divide-y space-y-1">
                    <ul class="space-y-2 pb-2">
                        <li>
                            <a href="#" class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 group">
                                <div class="w-6 h-6 text-gray-500 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <span class="ml-3">Panel</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Products" asp-controller="Admin" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="fas fa-shopping-bag"></i>
                                </div>
                                <span class="ml-3 flex-1 whitespace-nowrap">Productos</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="far fa-money-bill-alt"></i>
                                </div>
                                <span class="ml-3 flex-1 whitespace-nowrap">Ventas</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="fas fa-users"></i>
                                </div>
                                <span class="ml-3 flex-1 whitespace-nowrap">Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="fas fa-store"></i>
                                </div>
                                <span class="ml-3 flex-1 whitespace-nowrap">Tienda en linea</span>
                                <span class="bg-gray-200 text-gray-800 ml-3 text-sm font-medium inline-flex items-center justify-center px-2 rounded-full">Pro</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="LogOut" asp-controller="Account" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="fas fa-sign-out-alt"></i>
                                </div>
                                <span class="ml-3 flex-1 whitespace-nowrap">Cerrar sesión</span>
                            </a>
                        </li>
                    </ul>
                    <div class="space-y-2 pt-2">
                        <a href="https://demo.themesberg.com/windster/pricing/" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                            <div class="w-5 h-5 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                <i class="fas fa-gem"></i>
                            </div>
                            <span class="ml-4">Mejorar el plan</span>
                        </a>
                        <a href="https://github.com/themesberg/windster-tailwind-css-dashboard/issues" target="_blank" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                            <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                <i class="far fa-life-ring"></i>
                            </div>
                            <span class="ml-3">Ayuda</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </aside>
    <!--Portatil-->
    <aside class="fixed z-10 w-screen bottom-0 left-0 flex lg:hidden flex-shrink-0 transition-width duration-75 border-t border-gray-200 rounded-t-xl">
        <nav class="w-full flex justify-center items-center px-3 bg-white divide-y space-y-1">
            <ul class="flex justify-around items-center space-x-2 py-2">
                <li>
                    <a href="#" class="flex flex-col items-center text-base text-gray-900 font-normal rounded-lg p-2 hover:bg-gray-100 group">
                        <div class="w-6 h-6 text-gray-500 group-hover:text-gray-900 text-center transition duration-75">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <span class="lg:ml-3">Panel</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex flex-col items-center p-2 group ">
                        <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <span class="lg:ml-3 flex-1 whitespace-nowrap">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex flex-col items-center p-2 group ">
                        <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                        <span class="lg:ml-3 flex-1 whitespace-nowrap">Ventas</span>
                    </a>
                </li>
                <li onclick="openModal('optionsModal')">
                    <a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex flex-col items-center p-2 group">
                        <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <span class="lg:ml-3 flex-1 whitespace-nowrap">más</span>
                    </a>
                </li>
            </ul>
            <dialog id="optionsModal" class="w-screen bg-white z-20 border-t-8 border-gray-200 rounded-t-xl fixed bottom-0 left-0 py-3 translate-y-0 transition duration-500 ease-in-out">
                    <nav class="flex-1 px-2 bg-white divide-y space-y-1">
                        <ul class="space-y-2 pb-2">
                            <li>
                                <div class="flex flex-row-reverse items-center p-2 group">
                                    <div onclick="closeModal('optionsModal')" class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75 cursor-pointer">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                        <i class="fas fa-users"></i>
                                    </div>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Usuarios</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                        <i class="fas fa-store"></i>
                                    </div>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Tienda en linea</span>
                                    <span class="bg-gray-200 text-gray-800 ml-3 text-sm font-medium inline-flex items-center justify-center px-2 rounded-full">Pro</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="LogOut" asp-controller="Account" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </div>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Cerrar sesión</span>
                                </a>
                            </li>
                        </ul>
                        <div class="space-y-2 pt-2">
                            <a href="https://demo.themesberg.com/windster/pricing/" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                                <div class="w-5 h-5 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="fas fa-gem"></i>
                                </div>
                                <span class="ml-4">Mejorar el plan</span>
                            </a>
                            <a href="https://github.com/themesberg/windster-tailwind-css-dashboard/issues" target="_blank" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                                <div class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 text-center transition duration-75">
                                    <i class="far fa-life-ring"></i>
                                </div>
                                <span class="ml-3">Ayuda</span>
                            </a>
                        </div>
                    </nav>
            </dialog>
        </nav>
    </aside>
    <main class="lg:ml-64">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>